*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  padding: 133px 30px;
  justify-content: center;
  gap: 30px;
}

.result__video-container {
  position: relative;
  min-width: 711px;
  padding-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  gap: 40px;
  align-items: start;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', serif;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 5px;
}

.search-form__label {
  cursor: pointer;
  display: inline-block;
  width: fit-content;
}

.search-form__textfield {
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  min-width: 170px;
}

.search-form__submit-button {
  cursor: pointer;
}

.more-button {
  cursor: pointer;
}

.content__video-card {
  display: flex;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  line-height: 94%;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow: scroll;
  max-height: 298px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.content__video-card-description {
  padding-top: 6px;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}