*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  padding: 133px 30px;
  justify-content: center;
  gap: 30px;
}

.result__video-container {
  min-width: 711px;
}

.result__video {
  width: 100%;
}

.search-form {
  display: flex;
  gap: 40px;
}

.content__video-card {
  display: flex;
}

.content__details {

}

.content__list {
  overflow: scroll;
  max-height: 298px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}